@font-face {
    font-family: Norse Bold;
    font-weight: bold;
    src: url("/Norse-Bold.otf") format("opentype");
    font-display: swap;
}

.norse-bold {
    font-family:
        Norse Bold,
        sans-serif;
}
